<aside class="span4">
    <nav id="socialNetworks">
        {{#socialNetworks}}
            <a href="{{url}}">{{description}}</a>
        {{/socialNetworks}}
    </nav>

    <section id="photo">
        {{#photo}}
            <h1>{{title}}</h1>
            <img src="{{url}}"/>{{title_description}}
                <article class="smallPhoto">
                    {{#smallPhoto}}
                        <img src="{{url}}"/>
                        <a href="{{url}}">{{name}}</a>
                    {{/smallPhoto}}
                </article>
        {{/photo}}
        <footer class="all_topics">
            {{#all_topics}}
                <a href="{{url}}">{{news}}</a>
            {{/all_topics}}
        </footer>
    </section>

    <section id="smallBanner">
        {{#smallBanner}}
            <img src="{{url}}"/>
        {{/smallBanner}}
    </section>

    <section id="bigBanner">
        {{#bigBanner}}
            <img src="{{url}}"/>
        {{/bigBanner}}
    </section>

    <section id="video">
        {{#video}}
            <h1>{{title}}</h1>
                <img src="{{url}}"/>{{title_description}}
                <article class="smallVideo">
                    {{#smallVideo}}
                        <img src="{{url}}"/>
                        <a href="{{url}}">{{name}}</a>
                    {{/smallVideo}}
                </article>
        {{/video}}
        <footer class="all_topics">
            {{#all_topics}}
                <a href="{{url}}">{{news}}</a>
            {{/all_topics}}
        </footer>
    </section>
    <section id="coments">
        {{#coments}}
            <h1>{{title}}</h1>
            <p>{{author}}</p>
        {{/coments}}
    </section>
</aside>
