 <!--
<div class="submenu">
    <h1 id="afisha" class="icons icons-afisha">АФІША</h1><a href="#">Події</a>

</div>
--!>
    <div class="row">
        <section id="afisha_page" class="span8">
            <div>
                <h1>Сьогодні, 31 липня, <span style="color: black">14:50</span><a href="#">Завтра</a> </h1>
                <nav>
                    <a href="#">вт, 31</a>
                    <a href="#">ср, 1</a>
                    <a href="#">чт, 2</a>
                    <a href="#">пт, 3</a>
                    <a href="#">сб, 4</a>
                    <a href="#">нд, 5</a>
                    <a href="#">пн, 6</a>
                    <a href="#">За місяць</a>
                    <a href="#">Інший день</a>
                </nav>
            </div>
            <article>
                <p class="left">
                    <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6569.JPG"/>
                </p>
                <h4><a href="#">Андрій Куцаченко: Impression</a></h4>
                    <p>Художня виставки київського художника Андрія Куцаченко "Impression".</p>
                    <p>24 липня - 5 серпня, з 12:00 до 19:00 щодня, вихідний - понеділок, <a href="#">Коралі</a></p>
            </article>
            <article>
                <p class="left">
                    <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6530.jpg"/>
                </p>
                <h4><a href="#">Етно-Art</a></h4>
                    <p>Виставка картин художниці Олени Фрідман.</p>
                    <p>1-31 липня, 9:00 - 22:00, <a href="#">Кав'ярня-галерея "Штука"</a></p>
            </article>
            <article>
                <p class="left">
                    <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6380.jpg"/>
                </p>
                <h4><a href="#">Код Трипілля</a></h4>
                    <p>Виставка, яка вперше презентує одну з найбільших і найкращих колекцій артефактів Трипільської культури.</p>
                    <p>2 червня - 31 грудня, з 10:00 до 16:00 (окрім понеділка), <a href="#">Палац Потоцьких</a></p>
            </article>
            <article>
                <p class="left">
                    <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6268.jpg"/>
                </p>
                <h4><a href="#">Живопис у Нормандії</a></h4>
                    <p>З 18 травня до 26 серпня у Львівському національному музеї експонуватимуть збір колекції творів «Живопис у Нормандії»</p>
                    <p>18 травня - 26 серпня, <a href="#">Національний музей</a></p>
            </article>
        </section>
    </div>
