<div class="span12">
     <div class="row">
        <div class="span8">
            <div class="row">
                <div class="span5">
                    <img src="http://afishalviv.net/php_uploads/images/articleimages/wide_ArticlePortletImage_6505.jpg"/>
                </div>
                <div class="span3">
                    <nav class="nameEvents">
                        <a href="#"> Фестивальне літо 2012 (ІНФОГРАФІКА)</a>
                        <a href="#"> Результати конкурсу "ЄВРО у Львові"</a>
                        <a href="#"> Hip-hop battle. Poland vs Ukraine</a>
                        <a href="#"> Кінофестиваль "Відкрита Ніч"</a>
                        <a href="#"> Живопис у Нормандії</a>
                        <a href="#"> Фестиваль Ту Стань! - 2012</a>
                        <a href="#"> Фортмісія 2012</a>
                        <a href="#"> Концерт Scorpions</a>
                        <footer class="all_topics"><a href="#"> Усі новини</a></footer>
                    </nav>
                </div>
            </div>
            <div class="row">
                <section class="span5">
                    <h1 id="afisha" class="icons icons-afisha"><a href="#">АФІША ЛЬВОВА</a></h1>
                    <section id="selebrate">
                        <header><h3><a href="#">КОНЦЕРТИ І СВЯТА</a></h3></header>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6566.JPG"/>
                            </p>
                            <h4><a href="#">Концерт Czesław Śpiewa</a></h4>

                            <p>У Дзизі відбудеться концерт відомого польського співака, володаря платинового альбому,
                                Чеслава Мозіля (музичне псевдо Czesław Śpiewa).</p>

                            <p>2 серпня, початок о 20:00, Дзиґа</p>
                        </article>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6512.jpg"/>
                            </p>
                            <h4><a href="#">LvivKlezFest 2012</a></h4>

                            <p>22 липня запрошує четвертий фестиваль єврейської культури LvivKlezFest!</p>

                            <p>Вихідні, 22 липня, 12:00 - 22:00, пл. Ринок, вул. Староєврейська, пл. Арсенальна</p>


                        </article>
                        <footer class="all_topics"><a href="#">Усі події за місяць</a></footer>
                    </section>
                    <section id="exhibition">
                        <header><h3><a href="#">ВИСТАВКИ</a></h3></header>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6547.jpg"/>
                            </p>
                            <h4><a href="#">АРТтерапія</a></h4>

                            <p>Свої творчі натхнення поєднали Наталя Черних-Трицятник та Богдан Кухарський в проекті
                                "АРТтерапія"</p>

                            <p>Сьогодні, 3-24 липня, щодня з 10.30 до 19.00, Сливка</p>
                        </article>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6530.jpg"/>
                            </p>
                            <h4><a href="#">Етно-Art</a></h4>

                            <p> Виставка картин художниці Олени Фрідман.</p>

                            <p>Сьогодні, 1-31 липня, 9:00 - 22:00, Кав'ярня-галерея "Штука"</p>

                        </article>
                        <footer class="all_topics"><a href="#">Усі події за місяць</a></footer>
                    </section>
                    <section id="cinema">
                        <header><h3><a href="#">КІНО</a></h3></header>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6556.jpg"/>
                            </p>
                            <h4><a href="#">Льодовиковий період 4: Континентальний дрейф 3D</a></h4>

                            <p>Прем'єра фільму: 5 липня 2012. Жанр: Мультфільм.</p>

                            <p>Сьогодні, 12-25 липня, сеанси: 12:00, 13:50, 18:00, 19:50, Кінопалац</p>
                        </article>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6540.jpg"/>
                            </p>
                            <h4><a href="#">Нова Людина-павук</a></h4>

                            <p> Прем'єра фільму: 5 липня 2012. Жанр: Бойовик, Пригодницький, Фантастика.</p>

                            <p>Сьогодні, 5-18 липня, сеанси: 10:20, 14:40, 19:00, Копернік</p>
                        </article>
                        <article>
                            <p class="left">
                                <img src="http://afishalviv.net/php_uploads/images/eventimages/small_ArticlePortletImage_6521.jpg"/>
                            </p>
                            <h4><a href="#">Президент Лінкольн: Мисливець на вампірів</a></h4>

                            <p>Прем'єра фільму: 28 червня 2012. Прем'єра фільму: 28 червня 2012.</p>

                            <p>Сьогодні, 28 червня - 18 липня, сеанси: 21:50, 23:35, Планета кіно</p>
                        </article>
                        <footer class="all_topics"><a href="#">Усі події за місяць</a></footer>
                    </section>
                </section>
                <div id="newsList" class="span3">
                    <h2 class="icons icons-vybrane"><a href="#">ВИБРАНЕ</a></h2>
                    <article>
                        <a href="#">
                            <img src="http://afishalviv.net/php_uploads/images/articleimages/long_ArticlePortletImage_6409.jpg"/></a>
                        <h4><a href="#">Вчимося фотографувати</a></h4>

                        <p>Школа фотографії імені Дієґо Марадони запрошує на навчання фотографії усіх тих, хто відчуває у
                            собі задатки фотографа та має бажання їх розвивати.</p>

                        <p class="data">1 червня</p>
                    </article>
                    <article>
                        <a href="#">
                            <img src="http://afishalviv.net/php_uploads/images/articleimages/long_ArticlePortletImage_6326.jpg"/>
                        </a>
                        <h4><a href="#">Напиши драму сам!</a></h4>

                        <p>Мистецька майстерня «Драбина» та Міжнародний драматургічний фестиваль «Драма.UA» оголошують ІІІ
                            конкурс українських п’єс «Драма.UA-2012».</p>

                        <p class="data">24 травня</p>
                    </article>
                    <article>
                        <a href="#">
                            <img src="http://afishalviv.net/php_uploads/images/articleimages/long_ArticlePortletImage_6114.JPG"/>
                        </a>
                        <h4><a href="#">Легенди старого Львова розкаже Ілько Лемко</a></h4>

                        <p>Легенди старого Львова з Ільком Лемком - це 2 години неймовірно цікавої авторської подорожі
                            Львовом.</p>

                        <p class="data">26 квiтня</p>
                    </article>
                    <article>
                        <a href="#">
                            <img src="http://afishalviv.net/php_uploads/images/articleimages/long_ArticlePortletImage_5992.jpg"/>
                        </a>
                        <h4><a href="#">Діва з "П'ятого елементу" не лише дивовижно співає, але й знімає хороше кіно</a></h4>

                        <p>Мова йде про Майвенн (Майвенн Ле Беско), яка в 1997 р. зіграла неперевершену, відому усій
                            Галактиці Діву Плавалагуну в стрічці Люка Бессона "П'ятий елемент"</p>

                        <p class="data">4 квiтня</p>
                    </article>
                    <article>
                        <a href="#">
                            <img src="http://afishalviv.net/php_uploads/images/articleimages/long_ArticlePortletImage_5856.jpg"/>
                        </a>
                        <h4><a href="#">Фагот: "Зі Львова мені подобається гурт Двісті boys!"</a></h4>

                        <p>Минулого тижня у Львові виступив Танок на майдані Конго, ми поспілкувались з фронтменом гурту -
                            Олегом Михайлютою ("Фагот").</p>

                        <p class="data">20 березня</p>
                    </article>
                </div>
            </div>
        </div>
     </div>
</div>